<div class="content">
  <div class=" text-center pt-4">
    <h1 style="color: #114165; font-weight: bold; font-size: 56px">One Page Bootstrap</h1>
    <h1 style="color: #114165; font-weight: bold; font-size: 56px">Website Template</h1>
  </div>
  <div class="text-center  pt-6">
    <p style="font-size: 22px">We are team of talented designers</p>
    <button type="button" class="btn btn-lg" disabled style="background-color: #185988; color: #FFFFFF; font-size: 14px;
    padding: 14px 50px; border-radius: 5px; margin-top: 12px;"> Get Started
    </button>
  </div>

  <div class="d-flex justify-content-evenly mt-4" style="padding-bottom: 108px; padding-top: 50px;">
    <div class="card shadow border-0 mt-4" style="width: 280px; height: 270px; padding: 0 32px 0 16px">
      <div class="card-body">
        <h5 class="card-title text-primary mt-4 " style="color: #07315e !important; padding-top: 90px;">Lorem Ipsum</h5>
        <p class="card-text" style="font-size: 16px; line-height: 28px; margin-bottom: 0;font-family: sans-serif;
        color: #444444;">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
      </div>
    </div>
    <div class="card shadow border-0 mt-4" style="width: 280px; height: 270px; padding: 0 32px 0 16px">
      <div class="card-body">
        <h5 class="card-title text-primary mt-4 " style="color: #07315e !important; padding-top: 90px;"> Sed ut perspiciatis</h5>
        <p class="card-text" style="font-size: 16px; line-height: 28px; margin-bottom: 0;font-family: sans-serif;
        color: #444444;">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
      </div>
    </div>
    <div class="card shadow border-0 mt-4" style="width: 280px; height: 270px;padding: 0 32px 0 16px ">
      <div class="card-body">
        <h5 class="card-title text-primary mt-4 " style="color: #07315e !important; padding-top: 90px;">Magni Dolores</h5>
        <p class="card-text" style="font-size: 16px; line-height: 28px; margin-bottom: 0;font-family: sans-serif;
        color: #444444;">Excepteur sint occaecat cupidatat non proident, sunt in culpa qul officia.</p>
      </div>
    </div>
    <div class="card shadow border-0 mt-4" style="width: 280px; height: 270px; padding: 0 32px 0 16px">
      <div class="card-body">
        <h5 class="card-title text-primary mt-4 " style="color: #07315e !important; padding-top: 90px;">Nemo Enim</h5>
        <p class="card-text" style="font-size: 16px; line-height: 28px; margin-bottom: 0;font-family: sans-serif;
        color: #444444;"> At vero eos et accusamus et iusto odio dignissimos ducimus qul blanditiis</p>
      </div>
    </div>
  </div>
</div>

